export GKE_PROJECT_ID="nuvola-gcp-2"

export GKE_CLUSTER_NAME="nuvola-cluster"
export GKE_CLUSTER_ENV="dev"

#export GKE_MACHINE_TYPE="e2-medium"
export GKE_MACHINE_TYPE="e2-standard-2"
export GKE_NODE_COUNT=1

##export GKE_REGION="europe-west8"   # Italy
##export GKE_ZONE="europe-west8-a"
export GKE_REGION="europe-west4"  # NL
export GKE_ZONE="europe-west4-b"

# GCP Service Account
export TERRAFORM_SA="terraform-sa@${PROJECT_ID}.iam.gserviceaccount.com"
export GOOGLE_APPLICATION_CREDENTIALS="$PWD/terraform-sa-key.json"

