project_id   = "${GKE_PROJECT_ID}"
region       = "${GKE_REGION}"
zone         = "${GKE_ZONE}"
cluster_name = "${GKE_CLUSTER_NAME}"
environment  = "${GKE_CLUSTER_ENV}"
machine_type = "${GKE_MACHINE_TYPE}"
node_count   = "${GKE_NODE_COUNT}"
